.yarl__fullscreen {
    @apply !bg-dark-80;
}

.yarl__carousel {
    @apply !max-h-[600px];
}

/* style toolbar */
.yarl__toolbar {
    direction: ltr !important;
    @apply !p-0 absolute !left-[5%] !top-[15%] !flex gap-x-2;
}

.yarl__button {
    @apply !p-0 !filter-none;
}

.yarl__toolbar > :not(:last-child) {
    @apply !hidden lg:!block;
}

.yarl__slide {
    @apply !p-0 flex-col lg:gap-0 gap-6;
}

.yarl__slide .yarl__flex_center {
    @apply !h-fit lg:!h-full;
}

/* buttons */
.yarl__button[title='Zoom in']:not(:disabled) button,
.yarl__button[title='Zoom out']:not(:disabled) button {
    @apply hover:bg-dark hover:text-white;
}

/* buttons */
.yarl__button[title='Zoom in']:disabled button,
.yarl__button[title='Zoom out']:disabled button {
    @apply bg-[#a8a8a8] cursor-not-allowed;
}

/* change slide image slide */
.yarl__slide_image,
.yarl__video_container {
    @apply !w-full bg-[#00000000] bg-opacity-0 !max-w-full !max-h-full;
}
.yarl__video_container video {
    @apply lg:h-full;
}

.yarl__container {
    @apply lg:w-full lg:!aspect-[964/732] lg:!max-w-[960px] lg:m-auto lg:!overflow-scroll !bg-[#00000000];
}

.yarl__toolbar button[aria-label='Close'] {
    @apply fixed top-10 left-10;
}

.yarl__button.yarl__navigation_prev {
    @apply bg-primary !p-0 !w-fit lg:!-bottom-6
    !top-[85%] sm:!top-[92%] md:!top-[95%] lg:!top-auto
    !right-[calc(50%-55px)]
    lg:!right-0;
}

.yarl__button.yarl__navigation_next {
    @apply bg-primary !p-0 !w-fit lg:!-bottom-6
    !top-[85%] sm:!top-[92%] md:!top-[95%] lg:!top-auto
    !left-[calc(50%-55px)] lg:!left-0
    lg:!right-[58px];
}

/* counter */
.yarl__counter {
    direction: ltr !important;
    @apply !top-auto !m-0 !p-0 !bottom-2 !left-0 text-[22px] font-bold !hidden lg:!block !filter-none;
}

/* current slide count */
.yarl__counter::first-letter {
    @apply !text-[32px] font-bold;
}

/* slide title */
.yarl__slide_captions_container {
    @apply !bottom-[calc(20%-20px)] sm:!bottom-[4%] md:!bottom-[0%]
    lg:!top-auto lg:!-bottom-[52px] text-light t-body1 lg:!fixed;
}

/* remove scroll */
.yarl__container::-webkit-scrollbar,
.yarl__slide::-webkit-scrollbar,
.yarl__carousel::-webkit-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    display: none !important;
}

.yarl__carousel,
.yarl__container,
.yarl__slide {
    scrollbar-width: none !important;
}

.yarl__carousel:has(.yarl__slide_current .yarl__video_container) + .yarl__toolbar > :not(:last-child) {
    @apply !hidden;
}
